.contact_detail_page .link:hover{
    text-decoration: underline;
}

.contact_detail_page ul {
    list-style-type: none;
    padding: 0;
}

.contact_detail_page button:hover{
    cursor: pointer;
}
.contact_detail_page .contact_actions{
    margin-top: 20px;
}
.contact_detail_page .contact_actions > *{
    margin-top: 20px;
}
.contact_detail_page #delete_contact_button {
    color:red;
}