{% extends 'base.html' %}
{% load static %}
{% load accounting_tags %}
{% block css %}
  <link rel="stylesheet" href="{% static 'accounting/css/goods_receipt.css' %}" />
{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}

    <fieldset>
      <legend>Receipt Info</legend>
      {{ form.as_p }}
    </fieldset>

    <fieldset>
      <legend>Received Items</legend>
      {{ formset.management_form }}
      {{ formset.non_form_errors }}
      <table>
        <thead>
          <tr>
            {% for field in formset.empty_form.visible_fields %}
              <th>{{ field.label }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for form in formset.forms %}
            <tr>
              {% for field in form.visible_fields %}
                <td>{{ field.errors }}
                  {{ field }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <button type="button" id="add-form">Add another item</button>
    </fieldset>

    <button type="submit">Submit</button>
  </form>

  <script>
    const addFormBtn = document.getElementById('add-form')
    const formsetTotal = document.querySelector('#id_form-TOTAL_FORMS')
    const tbody = document.querySelector('tbody')
    const emptyFormHtml = `{{ formset.empty_form.as_table|escapejs }}`
    
    addFormBtn.addEventListener('click', () => {
      const newFormIdx = parseInt(formsetTotal.value)
      const newFormHtml = emptyFormHtml.replace(/__prefix__/g, newFormIdx)
      const tempRow = document.createElement('tr')
      tempRow.innerHTML = newFormHtml
      tbody.appendChild(tempRow)
      formsetTotal.value = newFormIdx + 1
    })
  </script>
{% endblock %}
