{% extends 'base.html' %}
{% block content %}
  {% load static %}
  {% block css %}
    <link rel="stylesheet" href="{% static 'accounting/css/transaction_list.css' %}" />
  {% endblock %}

  <div class="transaction_list">
    <h1>Transaction Table</h1>
    <table>
      <tr>
        <th>Transaction #</th>
        {% comment %} <th>Transaction #</th> {% endcomment %}
        <th>Date</th>
        {% comment %} <th>Currency</th> {% endcomment %}
        <th>Amount</th>
        <th>Type</th>
        <th>Type #</th>
        <th>Account</th>
        <th>Account Balance</th>
        {% comment %} <th>Total Balance</th> {% endcomment %}
      </tr>

      {% for transaction in object_list|dictsortreversed:'pk'|dictsortreversed:'created_at' %}
        <tr>
          <td>{{ transaction.pk }}</td>
          {% comment %} <td>2</td> {% endcomment %}
          <td>{{ transaction.created_at }}</td>
          {% comment %} <td>{{ expense.currency }}</td> {% endcomment %}
          <td>{{ transaction.currency.symbol }}{{ transaction.value }}</td>
          <td>{{ transaction.type }}</td>
          <td>{{ transaction.type_pk }}</td>
          <td>{{ transaction.account.name }}</td>
          <td>{{transaction.account.currency.symbol}}{{ transaction.account_balance }}</td>
          {% comment %} <td>{{ transaction.total_balance }}</td> {% endcomment %}

        </tr>
      {% empty %}
        <tr>
          <td>N/A</td>
          {% comment %} <td>N/A</td> {% endcomment %}
          <td>N/A</td>
          <td>N/A</td>
          {% comment %} <td>N/A</td> {% endcomment %}
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
