.search_component button:hover{
    cursor: pointer;
}

.search_component{
    position: relative;
}
.search_component .fa-search:hover{
    cursor: pointer;
}

.search_component #searchInput{
    height:2rem;
    width:30%;
    font-size:1.5rem;
}