.daysDue{
    color:#801919;
    padding:3px 6px;
    background-color: #FACDCD;
    border-radius: 15px;
}

li{
    list-style-type: none;
}
button:hover{
    cursor: pointer;
}
.taskComponent{
    padding:20px 20px;
    width: 15%;
    border-radius: 30px;
    margin:10px 5px;
    background-color: #F8FAFC;
    font-size:15px;
    line-height: 21px;
    border:0.5px solid;
    border-color: rgba(0, 0, 0, 0.6);
}
/* .taskName{
    font-weight: bold;
} */
.taskDescription{
    color:rgba(0, 0, 0, 0.7);
}
.taskDueDate{
    color:rgba(0, 0, 0, 0.8);
}

.deleteTaskButton{
    color:red;
}

.deleteButton{
    color:red;
}

.completeTaskButton{
    color:green;
}

.whoWorksHere ul, .whoWorksHere li{
    margin:0;
    padding:0;
}

.addContact {
    cursor: pointer;
}
.addContactForm{
    display: none;
}



.contact_detail_page .company_actions{
    margin-top: 20px;
}
.contact_detail_page .company_actions > *{
    margin-top: 20px;
}