#order_detail_page #delete_order_button {
  color: white;
  background-color: red;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#order_detail_page #delete_order_button:hover {
  background-color: darkred;
}
#order_detail_page button {
  cursor: pointer;
}
#order_detail_page table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
}
#order_detail_page th,
#order_detail_page td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}
#order_detail_page th {
  background-color: #f4f4f4;
}
#order_detail_page .qr-code-img {
  max-width: 100px;
  height: auto;
  display: block;
  margin-top: 5px;
}

#order_detail_page .status-badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: 600;
  display: inline-block;
  background-color: #ccc; /* fallback background */
  color: #000; /* fallback text color */
  color:darkgoldenrod;
}

#order_detail_page .status-pending {
  background-color: #f0ad4e;
  color: white;
}
#order_detail_page .status-in_progress {
  background-color: #5bc0de;
  color: white;
}
#order_detail_page .status-done {
  background-color: #5cb85c;
  color: white;
}


#order_detail_page #production_button a{
  padding:10px;
  background-color:teal;
  color:white;
  max-width: fit-content;
  border-radius: 3px;

}