#order_packing_list_page .packing-list-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

#order_packing_list_page .packing-list-table th,
#order_packing_list_page .packing-list-table td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: center;
  /* vertical-align: top; */
  text-align: middle;
}

#order_packing_list_page .packing-list-table th {
  background-color: #f6f8fa;
  font-weight: 600;
  color: #333;
}

#order_packing_list_page ul li {
  list-style: none;
}

#order_packing_list_page .packing-list-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#order_packing_list_page .packing-list-table ul {
  margin: 0;
  padding-left: 1rem;
  list-style-type: disc;
}

#order_packing_list_page .packing-list-table li {
  margin-bottom: 4px;
}

#order_packing_list_page .packing-list-table td:first-child {
  font-weight: bold;
  color: #005a9c;
}
