{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<link rel="stylesheet" href="{% static 'todo/task_list.css' %}">
<p><a href="{% url 'todo:index' %}"><--- Go to Contact List page</a></p>
<h1>Tasks that are in the future</h1>
<div class="task_container">
    <ul>
        {% for task in tasks|dictsortreversed:"created_at" %}
        {% if task.due_date|is_past_due %}
        {% else %}
        <li>
            <p><strong>{{ task.task_name }}</strong>
                {% if task.days_since_due > 0 %}
                <span style="color:red">{{ task.days_since_due }}d</span>
                {% endif %}
            </p>
            {% if task.description %}
            <p>{{ task.description }}</p>
            {% endif %}
            {% if task.contact %}
            <a href="{% url 'crm:contact_detail' task.contact.id%}" style="color:blue;">{{ task.contact }}</a>
            {% endif %}
            {% if task.company %}
            <a href="{% url 'crm:company_detail' task.company.id%}" style="color:blue;">{{ task.company }}</a>
            {% endif %}
        </li>
        <form action="{% url 'todo:complete_task' task.id %}" method="post">
            {% csrf_token %}
            <button type="submit" style="color:green">Complete Task</button><br />
        </form>
        <form action="{% url 'todo:delete_task' task.id %}" method="post">
            {% csrf_token %}
            <button type="submit" style="color:red">Delete Task</button><br />
        </form>
        <a href="{% url 'todo:update_task' task.id %}">Update Task</a>

        {% endif %}
        {% empty %}
        <li>No tasks available.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}