{% extends "base.html" %}
{% load static %}
{% load todo_filters %}
{% block content %}
<link rel="stylesheet" href="{% static 'todo/task_list.css' %}">
<p><a href="{% url 'todo:index' %}"><--- Go to Todo List page</a></p>
<h1>Tasks that are in the future</h1>
<div class="task_container">
    <ul>
        {% for task in tasks|dictsortreversed:"due_date" %}
        {% if task.due_date|days_since %}
        {% else %}
        <li>
            <!-- today's date: {% now "SHORT_DATETIME_FORMAT" %} -->
            <p><strong>{{ task.name }}</strong> <br/>Due: {{ task.due_date }}
                <span>{{ task.due_date|days_since }}d</span>
            </p>
            {% if task.description %}
            <p>{{ task.description }}</p>
            {% endif %}
            {% if task.contact %}
            <a href="{% url 'crm:contact_detail' task.contact.id %}" >{{ task.contact }}</a>
            {% endif %}
            {% if task.company %}
            <a href="{% url 'crm:company_detail' task.company.id %}" >{{ task.company }}</a>
            {% endif %}
        </li>
        <form action="{% url 'todo:complete_task' task.id %}" method="post">
            {% csrf_token %}
            <button type="submit" >Complete Task</button><br />
        </form>
        <form action="{% url 'todo:delete_task' task.id %}" method="post">
            {% csrf_token %}
            <button type="submit" >Delete Task</button><br />
        </form>
        <a href="{% url 'todo:update_task' task.id %}">Update Task</a>

        {% endif %}
        {% empty %}
        <li>No tasks available.</li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}