{% extends 'base.html' %}
{% block content %}
  <p>
    <a href="{% url 'todo:index' %}"><--- Go to Contact List page</a>
  </p>
  {% comment %} {% if request.GET.my_variable %}
    <p>The value of the variable is: {{ request.GET.my_variable }}</p>
  {% endif %} {% endcomment %}
  {% if task.company %}
    <p>
      Company: <strong><a href="{% url 'crm:company_detail' task.company.pk %}">{{ task.company }}</a></strong>
    </p>
  {% elif task.contact %}
    <p>
      Contact: <strong><a href="{% url 'crm:contact_detail' task.contact.pk %}">{{ task.contact }}</a></strong>
    </p>
  {% endif %}
  <form method="post" action="{% url 'todo:update_task' task.id %}?next_url={{ request.GET.next_url }}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next_url" value="{{ request.GET.next_url }}" />
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
{% endblock %}
