.equity_expense table, th, td {
    border: 1px solid black;
  }

.equity_expense th, .equity_expense td{
  padding:10px;
  text-align: center;
}

.equity_expense tr:nth-child(even) {
  background-color: rgba(0,0,0,0.1);
}


h1{
  color:saddlebrown;
}