.transaction_list table, th, td {
    border: 1px solid black;
  }

.transaction_list th, .equity_expense td{
  padding:10px;
  text-align: center;
}

.transaction_list tr:nth-child(even) {
  background-color: rgba(0,0,0,0.1);
}


.transaction_list h1{
  color:saddlebrown;
}