{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'marketing/css/product_create.css' %}" />
{% endblock %}
{% block content %}
  {% comment %} <p>
    <a href="{% url 'crm:index' %}"><--- Go to CRM home page</a>
  </p> {% endcomment %}
  <div class="ProductCreatePage">
    <h1>Create Product Form</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }} {# Render each form field as a paragraph #}
      <div id="variant_form">
        <h2>Variants</h2>
        <div class="option_name">
          <div>Option Name</div>
          <input type="text" name="attribute" id="attribute_option_input" />
          <div id="drop_down_attribute_value"></div>
        </div>
        <div class="option_value">
          <div>Option Value</div>
          <input type="text" name="value" id="attribute_value_input" />
          <div id="drop_down_attribute_value"></div>
        </div>

        <ul class="attribute-list" id="attribute_list"></ul>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  {% block js %}
    <script src="{% static 'marketing/js/product_create.js' %}"></script>
  {% endblock %}
{% endblock %}
