{% extends 'base.html' %}
{% load static %}
{% load marketing_tags %}

{% block css %}
  <link rel="stylesheet" href="{% static 'marketing/css/product_form.css' %}" />
{% endblock %}
{% block content %}
  {% comment %} <p>
    <a href="{% url 'crm:index' %}"><--- Go to CRM home page</a>
  </p> {% endcomment %}
  <div class="ProductCreatePage">
    <h1>Create Product Form</h1>
    <form id="product_form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }} {# Render each form field as a paragraph #}

      <div class="variant_component" id="variant_component">
        <div class="variant_container" id="variant_container">
          <div class="variantCard" id="variantCard_1">
            <div class="option_name">
              <div>Option Name</div>
              <input type="text" placeholder="Add Option Name" name="variant_name_1" id="variant_name_1">
            </div>
            <div class="optionValues">
              <div>Option Values</div>
              <input type="text" placeholder="Add Option Value 1" name="variant_name_1_value_1" id="variant_name_1_value_1">
              <input type="text" placeholder="Add Option Value 2" name="variant_name_1_value_2" id="variant_name_1_value_2">
              <div class="add_another_value" id="add_another_value_3" onClick=add_another_value(this)>+ Add Another Option
                Value</div>
              <div id="error_message_option_value_1" class="alert"></div>
            </div>
          </div>
          <div id="add_another_name_2" class="add_another_option" onClick=add_another_name(this)>+ Add Another Option
          </div>
          <div id="error_message_option_name" class="alert"></div>
        </div>
    
    
        <br />
    
        <div onClick=createTable() id="create_table_button">Create Variant Table</div>
        <div class="displayVariantJSON" onClick=displayVariantJSON(this)>Display Variant JSON</div>
        <br />
    
    
        <table id="variant_table">
          <!-- <button onclick=tableSubmit()>Submit</button> -->
        </table>
    
        <input type="hidden" id="variant_json" name="variant_json">
    
      </div>

      <div id="product_files_form">
        <h2>Product Files</h2>
        {% comment %} ManagementForm form is used by the formset to manage the collection of forms contained in the formset. {% endcomment %}
        {{ productfile_formset.management_form }}
        <div id="productfile-forms">
          {% for form in productfile_formset %}
            <div class="productfile-form">
              {{ form.as_p }}
            </div>
          {% endfor %}
        </div>
        <button type="button" id="add-productfile-form">Add Another File</button>
      </div>
      

      
      {% variant_form current_url=request.path product=product variants=variants %}
      <button type="submit">Submit</button>
    </form>
  </div>
  {% block js %}
    {% comment %} <script src="{% static 'marketing/js/product_form.js' %}"></script> {% endcomment %}
    <script>
      document.getElementById('add-productfile-form').addEventListener('click', function() {
        var formIdx = document.querySelectorAll('.productfile-form').length;
        var newForm = document.querySelector('.productfile-form').cloneNode(true);
        newForm.innerHTML = newForm.innerHTML.replace(/__prefix__/g, formIdx);
        document.getElementById('productfile-forms').appendChild(newForm);
      });
    </script>
  {% endblock %}
{% endblock %}
