{% extends 'base.html' %}
{% block content %}
  {% load static %}

  {% comment %}Below is to use unique css for each file as in this case here{% endcomment %}
  {% block css %}
    <link rel="stylesheet" href="{% static 'operating/css/index.css' %}" />
  {% endblock %}
  <h1>Operating Index</h1>
  <p class="OperatingMessage">{{ message }}</p>
  <ul>
    <li>
      <a href="{% url 'operating:order_list' %}">Orders</a>
    </li>
    <li>
      <a href="{% url 'operating:scan_order_item_unit' %}">Qr Scan</a>
    </li>
    <li>
      <a href="{% url 'operating:scan_order_item_unit_pack' %}">Qr Scan Pack</a>
    </li>
    <li>
      <a href="{% url 'operating:create_raw_material_good' %}">Create Raw Material Good</a>
    </li>
    <li>
      <a href="{% url 'operating:create_raw_material_good_receipt' %}">Create Raw Material Good Receipt</a>
    </li>
    <li>
      <a href="{% url 'operating:create_raw_material_good_item' %}">Create Raw Material Good Item</a>
    </li>
  </ul>
{% endblock %}
