{% extends 'base.html' %}

{% block content %}
  {% load static %}
  {% block css %}
    <link rel="stylesheet" href="{% static 'operating/css/order_production.css' %}" />
  {% endblock %}

  <div id="order_production_page">
    <h2>Start Production for <a href="{% url 'operating:order_detail' order.pk %}">Order #{{ order.pk }}</a></h2>

      {% csrf_token %}
      {{ formset.management_form }}

      <table id="production_table">
        <thead>
          <tr>
            <th>Order Item</th>
            <th>Order Quantity</th>
            <th>Target Quantity per Pack</th>
            <th>Pack Count</th>
            <th>Tag</th>
          </tr>
        </thead>
        <tbody>
          {% for item in order_items %}
            <tr id="row-{{ forloop.counter0 }}">
              <td>{{ item.display_name}}</td>
              <td id="order_quantity_{{ forloop.counter0 }}">{{ item.quantity }}</td>

              {% comment %} <div hx-post="{% url 'operating:start_production' %}" hx-include="#row-{{ forloop.counter0 }} input" hx-target="#response_{{ forloop.counter0 }}" hx-swap="outerHTML"> {% endcomment %}
              {% if item.units.all %}
              <td ><input type="number" id="target_quantity_per_pack_{{ forloop.counter0 }}" value="{{item.target_quantity_per_pack}}" readonly></td>
              <td id="pack_count_{{ forloop.counter0 }}">{{item.units.count}}</td>

              <td>
                
                <span> Scheduled and Tagged {{item.units.count}} units</span>
                <button type="button" class="print_barcode_button">Print QR</button>
                <button type="button">Delete</button>

                {% else %}
                <td ><input type="number" id="target_quantity_per_pack_{{ forloop.counter0 }}"></td>
                <td id="pack_count_{{ forloop.counter0 }}"></td>
                <td>

                

              <form hx-post="{% url 'operating:start_production' %}" hx-target="#response_{{ forloop.counter0 }}" hx-swap="outerHTML" >
                {% csrf_token %}
                <input type="hidden" name="target_quantity_per_pack" id="hidden_target_quantity_per_pack_{{ forloop.counter0 }}" value="" />
                <input type="hidden" name="pack_count" id="hidden_pack_count_{{ forloop.counter0 }}" value="" />
                <input type="hidden" name="order_item_id" value="{{ item.pk }}" />
                <button type="submit" class="print_barcode_button" id="start_and_tag_{{ forloop.counter0 }}">Start & Tag</button>
              </form>

                <div id="response_{{ forloop.counter0 }}"></div>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  {% block js %}
    <script src="{% static 'operating/js/order_production.js' %}"></script>
  {% endblock %}
{% endblock %}
