<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'erp/base.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'erp/base.js' %}"></script>
</head>

<body>
    {% with member=user.member %}
    <header>
        <div class="sidenav">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Services</a>
                    <ul class="sub-menu">
                        <li><a href="#">Service 1</a></li>
                        <li><a href="#">Service 2</a></li>
                        <li><a href="#">Service 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                    <ul class="sub-menu">
                        <li><a href="#">Location</a></li>
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Phone</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="line">
            <p><span style="float:right;"><a href="{% url 'authentication:signout' %}">Sign Out</a></span><a
                    href="{% url 'index' %}">
                    <h3>DEMFIRAT ERP</h3>
                </a></p>
            <p>Welcome to the base page{% if member %}, {{member.user.first_name|title}}{% endif %}.
                {% if member.company_name %}We love, {{member.company_name|upper}}{% endif %}!
                <span style="float:right;">{% now 'F j, Y' %}</span>
            </p>
        </div>
        {% block content %}
        {% endblock %}
    </div>

    <footer style="background-color: beige; text-align: center;">This is the footer.</footer>
    {% endwith %}


    <script>
        // Function to toggle the side navigation menu on mobile
        function toggleMenu() {
            let sidenav = document.getElementById('sidenav');
            sidenav.classList.toggle('active');
        }
    </script>
</body>

</html>