{% load static %}
{% load todo_tags %}
{% block css %}
  <link rel="stylesheet" href="{% static 'erp/css/components/dashboard.css' %}" />
{% endblock %}
{% block js %}
  <script src="{% static 'erp/js/dashboard.js' %}"></script>
{% endblock %}
<div class="dashboardComponent">
  <h2>New leads added today: {{ number_of_leads_added }}</h2>
  {% if country_of_the_day %}
    <h2>Country of the day: {{ country_of_the_day }}</h2>
  {% endif %}
  <div class="dashboardContainer">
    <div class="tasks">
      <h3>Tasks that are due <a target="_blank" title="Task Report" href="{% url 'task_report' %}"><i class="fa fa-external-link fa-xs" aria-hidden="true"></i></a></h3>

      {% tasks_component csrf_token=csrf_token page_type='dashboard' contact=None company=None sort_type='dictsortreversed' %}
    </div>
    <div class="activityReport">
      <h3>Finance Report</h3>
      <p>KPI Content</p>
    </div>
  </div>
</div>
