{% extends 'base.html' %}
{% block content %}
  {% load todo_filters %}
  {% load todo_tags %}
  {% load crm_tags %}
  {% load static %}
  {% block css %}
    <link rel="stylesheet" href="{% static 'crm/css/contact_detail.css' %}" />
  {% endblock %}
  <div class="contact_detail_page">
    <p>
      <a href="{% url 'crm:contact_list' %}"><--- Go to Contact List page</a>
    </p>
    <h1>Contact Details</h1>
    <p>
      <strong>Name:</strong> {{ contact.name|capfirst }}
    </p>
    {% if contact.email %}
      <p>
        <strong>Email:</strong> {{ contact.email }}
      </p>
    {% endif %}
    {% if contact.company %}
      <p>
        <strong>Company:</strong>
        <a class="link" href="{% url 'crm:company_detail' contact.company.id %}">{{ contact.company }}</a>
      </p>
      <!-- Assuming you have a ForeignKey to Company -->
    {% endif %}
    <!-- Add other fields as needed -->
    <!-- Note submission form -->
    <h2>Add a Task</h2>
    <form method="post">
      {% csrf_token %} {{ task_form.as_p }}
      <button type="submit">Add Task</button>
    </form>
    <h2>Tasks</h2>
    {% tasks_component company=None contact=contact csrf_token=csrf_token page_type='report_detail' sort_type='dictsortreversed' path=path member=user.member %}
    {% history_component company=None contact=contact csrf_token=csrf_token note_form=note_form current_url=request.path %}
    <div class="contact_actions">
      <a href="{% url 'crm:update_contact' contact.id %}?next_url={{ request.path|urlencode }}">Update Contact Information</a>
      <form action="{% url 'crm:delete_contact' contact.id %}" method="post">
        {% csrf_token %}
        <button type="submit" id="delete_contact_button">Delete Contact</button><br />
      </form>
    </div>
  </div>
{% endblock %}
