{% extends 'base.html' %}
{% block content %}
  {% load static %}
  {% block css %}
    <link rel="stylesheet" href="{% static 'crm/css/create_form.css' %}" />
  {% endblock %}
  <div id="CreateFormPage">
    <p>
      <a href="{% url 'crm:index' %}"><--- Go to CRM home page</a>
    </p>
    <h1>Create {{ model_type }}</h1>
    {% comment %} {% if model_type == 'contact' %}
      <label for="company_name">Company Name</label>
      <input type="text" id="company_name" name="company_name" autocomplete="off" hx-get="{% url 'crm:company_search' %}" hx-trigger="keyup changed delay:300ms" hx-target="#company-suggestions" hx-params="*" />
      <div id="company-suggestions"></div>
    {% endif %} {% endcomment %}
    <form method="post">
      {% csrf_token %}
      {% comment %} {{ form.as_p }} {# Render each form field as a paragraph #} {% endcomment %}
      {% for field in form %}
        {% if field.name == 'company_suggestions' %}
          <div id="company-suggestions"></div>
        {% else %}
          <p>
            {{ field.label_tag }}<br />
            {{ field }}
            {% if field.help_text %}
              <small>{{ field.help_text }}</small>
            {% endif %}
          </p>
          {% for error in field.errors %}
            <div class="error">{{ error }}</div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
  </div>
{% endblock %}
