{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'marketing/css/components/variant_form.css' %}" />
{% endblock css %}

<div class="loading" id="loading">Loading&#8230;</div>

<div class="variant_component" id="variant_component">
    <div class="variant_container" id="variant_container">
      <div class="variantCard" id="variantCard_1">
        <div class="option_name">
          <div>Option Name</div>
          <input type="text" placeholder="Add Option Name" name="variant_name_1" id="variant_name_1">
        </div>
        <div class="optionValues">
          <div>Option Values</div>
          <input type="text" placeholder="Add Option Value 1" name="variant_name_1_value_1" id="variant_name_1_value_1">
          <input type="text" placeholder="Add Option Value 2" name="variant_name_1_value_2" id="variant_name_1_value_2">
          <div class="add_another_value" id="variant_name_1_add_another_value_3" onClick=add_another_value(this)>+ Add Another Option Value</div>
          <div id="error_message_option_value_1" class="alert"></div>
        </div>
      </div>
      <div id="add_another_name_2" class="add_another_option" onClick=add_another_name(this)>+ Add Another Option
      </div>
      <div id="error_message_option_name" class="alert"></div>
    </div>


    <br />

    <div onClick=createTable() id="create_table_button">Create Variant Table</div>
    <div class="displayVariantJSON" onClick=displayVariantJSON(this)>Display Variant JSON</div>
    <br />

    <table id="variant_table">
    </table>
    <p>{{variant_files_json}}</p>

    {% comment %} <input type="hidden" id="variant_json" name="variant_json"> {% endcomment %}

  {% comment %} <p>{{message}}</p> {% endcomment %}
  <script>
    window.my_message = "{{ message }}";
    {% comment %} passing the variants information from backend to front end js so we can prepopulate the variant table form {% endcomment %}
    {% comment %} window.existing_variants = JSON.parse('{{ variants }}'); {% endcomment %}
    {% comment %} product_variants variable passed from marketing_tags.py {% endcomment %}
    window.product_variant_list_data = '{{ product_variant_list }}';
    window.product_variant_options_data = '{{ product_variant_options }}';
    window.product_variant_files = '{{ product_variant_files }}';
    window.variant_files_json_data = '{{ variant_files_json }}';
    console.log("your variant files are")
    console.log(product_variant_files);

    {% comment %} console.log('{{message}}') {% endcomment %}
  </script>

  <script src="{% static 'marketing/js/variant_form.js' %}" defer></script>
</div>